# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr
/*/target/
# Mac
.DS_Store
.idea/workspace.xml
.idea/*
# Windows
Thumbs.db:
Desktop.ini

# Maven
#log/
target/*
META-INF-output/

/.idea
META-INF-output/*
~/.m2/repository/*
*.log